CSH_OIDC_ISSUER=
CSH_OIDC_CLIENT_ID=
CSH_OIDC_CLIENT_SECRET=
GGL_OIDC_ISSUER=
GGL_OIDC_CLIENT_ID=
GGL_OIDC_CLIENT_SECRET=
SECRET_KEY=
DATABASE_URI=postgresql://fcwebapp:password@postgres/fcwebapp
BASE_URL=
DEBUG=True
