<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Fall Camping Web App">
    <meta name="author" content="Computer Science House">
    <title>{{ title }} | FCWebApp</title>
    <meta name="theme-color" content="#b0197e">

    <link rel="stylesheet"
          href="https://assets.csh.rit.edu/csh-material-bootstrap/5.3.11/dist/css/csh-material-bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
    <!-- CSH Colored Navbar -->
    <div class="navbar navbar-expand-lg bg-primary navbar-fixed-top" id="navbar-primary">
        <div class="container-lg">
            <a href="#" class="navbar-brand fs-4 text-light">
                <img class="object-fit-contain ms-2 me-2" height="32" src="https://assets.csh.rit.edu/pubsite/csh_logo_square.svg">
                <span>Fall Camping!</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-lg-1" aria-controls="navbar-lg-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-light" id="navbar-lg-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="/sleeping_board" class="nav-link px-2 link-light text-white-50">Sleeping Board</a>
                    </li>
                    <li class="nav-item">
                        <a href="/profile" class="nav-link px-2 link-light">My Profile</a>
                    </li>
                    {% if user.is_admin %}
                    <li class="nav-item">
                        <a href="/Admin" class="nav-link px-2 link-light">Admin Panel</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    <div class="bd-theme nav-item dropdown ms-auto">
                        <a href="#" class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="theme-icon-active bi bi-circle-half"></i>
                            <span class="bd-theme-text">
                                Change Theme
                            </span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="bd-theme">
                            <button class="dropdown-item" aria-pressed="false" data-bs-theme-value="light">
                                <i class="bi bi-sun-fill"></i>
                                Light
                            </button>
                            <button class="dropdown-item" aria-pressed="false" data-bs-theme-value="dark">
                                <i class="bi bi-moon-fill"></i>
                                Dark
                            </button>
                            <button class="dropdown-item" aria-pressed="false" data-bs-theme-value="auto">
                                <i class="bi bi-circle-half"></i>
                                Auto
                            </button>
                        </ul>
                    </div>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link px-2 link-light">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <main class="container pt-4">
        {% if not user.met_requirements %}
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <h4 class="alert-heading">Warning!</h4>
            <p class="mb-0">You have not met one or more Fall Camping requirements. More shit goes here </p>
        </div>
        {% endif %}
        {% block body %}
        {% endblock %}
    </main>

    <footer>

    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <script src="https://assets.csh.rit.edu/csh-material-bootstrap/5.3.11/dist/js/color-modes.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
